[include mainsail.cfg]
[include freedi.cfg]
[include config_backup.cfg]
[mcu]
serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/mks/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[extruder]

[heater_bed]

[heater_generic chamber]

[fan_generic partfan]

[fan_generic sidefan]

[fan_generic filterfan]

[output_pin caselight]

[filament_switch_sensor filament_tangle_sensor]

[hall_filament_width_sensor]
